<header>
  <svg class='logo' width="481px" height="126px" viewBox="480 10 481 126" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <text id="Rosalind" stroke="none" fill="none" font-family="Inconsolata-Regular, Inconsolata" font-size="120" font-weight="normal">
          <tspan x="480" y="113" fill="#FFC565">Ro</tspan>
          <tspan x="600" y="113" fill="#D6F388">sa</tspan>
          <tspan x="720" y="113" fill="#ABE9AC">li</tspan>
          <tspan x="840" y="113" fill="#72D6E9">nd</tspan>
      </text>
  </svg>
  <ul>
    <li><a class='activenav' href="#">HOME</a></li>
    <li><a href="#">SETTINGS</a></li>
    <li><a href="/logout">LOGOUT</a></li>
  </ul>
</header>

<div class="main">
  <div class="tabnav ancestry tabactive">
    <a href="/ancestry"><h2>Ancestry</h2></a>
  </div>
  <div class="tabnav physical">
    <a href="/physical"><h2>Physical</h2></a>
  </div>
  <div class="tabnav mental">
    <a href="/mental"><h2>Mental</h2></a>
  </div>
  <div class="tabnav intentions">
    <a href="/intentions"><h2>Intentions</h2></a>
  </div>
  <div class="tab ancestry">
    <div class="chart">
      <div class="information">
        SOME INFO
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
sub_saharan_african = {{ancestry.sub_saharan_african}};
european = {{ancestry.european}};
oceanian = {{ancestry.oceanian}};
east_asian_native_american = {{ancestry.east_asian_native_american}};
south_asian = {{ancestry.south_asian}};
middle_eastern_north_african = {{ancestry.middle_eastern_north_african}};
other = 1-{{ancestry.sub_saharan_african}} - {{ancestry.european}} - {{ancestry.oceanian}} - {{ancestry.east_asian_native_american}} - {{ancestry.south_asian}}-{{ancestry.middle_eastern_north_african}};

var data=[{"region":"Sub Saharan African:  "+(sub_saharan_african*100)+"%","Proportion":sub_saharan_african},{"region":"European: "+(european*100)+"%","Proportion":european},{"region":"Oceanian: "+(oceanian*100)+"%","Proportion":oceanian},{"region":"East Asian and Native America: "+(east_asian_native_american*100)+"%","Proportion":east_asian_native_american},{"region":"South Asian: "+(south_asian*100)+"%","Proportion":south_asian},{"region":"Middle Eastern and North African: "+(middle_eastern_north_african*100)+"%","Proportion":middle_eastern_north_african},{"region":"Other: "+(other*100)+"%","Proportion":other}];

var finalData = [];

for (var i = 0; i < data.length; i++) {
  if(data[i].Proportion > 0){
    finalData.push(data[i])
  }
}

var width = 500,
    height = 500,
    padding = 20,
    radius = Math.min(width-padding, height-padding) / 2;

var color = d3.scale.ordinal()
    .range(["#ABE9AC", "#FFC565", "#D6F388", "#72D6E9", "#49A4FF", "#F65B77"]);

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(radius - 100);

var pie = d3.layout.pie()
    .sort(null)
    .value(function (d) {
    return d.Proportion;
});

var svg = d3.select(".chart").append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var g = svg.selectAll(".arc")
        .data(pie(finalData))
        .enter().append("g")
        .attr("class", "arc");

    g.append("path")
        .attr("d", arc)
        .style("fill", function (d) {
        return color(d.data.region);
    });

    g.append("text")
        .attr("class", "charttext")
        .attr("transform", function (d) {
        return "translate(" + arc.centroid(d) + ")";
    })
        .attr("dy", ".35em")
        .style("text-anchor", "middle")
        .text(function (d) {
        return d.data.region;
    });

    // $( document ).ready(function() {
    //   $('path').on('mouseenter', function(){
    //     $('.information').css({'opacity': 1});
    //   })
    //   $('path').on('mouseleave', function(){
    //     $('.information').css({'opacity': 0});
    //   })
    // });
</script>
