<header>
  <svg class='logo' width="481px" height="126px" viewBox="480 10 481 126" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <text id="Rosalind" stroke="none" fill="none" font-family="Inconsolata-Regular, Inconsolata" font-size="120" font-weight="normal">
          <tspan x="480" y="113" fill="#FFC565">Ro</tspan>
          <tspan x="600" y="113" fill="#D6F388">sa</tspan>
          <tspan x="720" y="113" fill="#ABE9AC">li</tspan>
          <tspan x="840" y="113" fill="#72D6E9">nd</tspan>
      </text>
  </svg>
  <ul>
    <li><a class='activenav' href="#">HOME</a></li>
    <li><a href="#">SETTINGS</a></li>
    <li><a href="/logout">LOGOUT</a></li>
  </ul>
</header>
<div class="main">
  <div class="tabnav ancestry">
    <a href="/ancestry"><h2>Ancestry</h2></a>
  </div>
  <div class="tabnav physical">
    <a href="/physical"><h2>Physical</h2></a>
  </div>
  <div class="tabactive tabnav mental">
    <a href="/mental"><h2>Mental</h2></a>
  </div>
  <div class="tabnav intentions">
    <a href="/intentions"><h2>Intentions</h2></a>
  </div>
  <div class="tab mental">
    <p class='tabheader'>
      {{basic_info.first_name}}
      {{basic_info.last_name}}
    </p>
    {{#each genotypes}}
    <div class="box">
      <div class="boxheader">
        <i class="fa fa-camera-retro fa-2x"></i>
        <h3>{{@key}}: {{this.value}}</h3>
      </div>
      <p class='mental'>
        {{this.info.description}}
      </p>
      <h4>{{this.info.advice_one}}</h4>
      <h4>{{this.info.advice_two}}</h4>
    </div>
    {{/each}}
  </div>
</div>
